<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add New User</h1>
    <a href="/users">Go back</a>
    <form action="/users" method="POST">
      <label>Email
        <input name="email" />
      </label>
      <label>First Name
        <input name="firstName" />
      </label>

    <label>Last Name
        <input name="lastName" />
      </label>
      <label>Date of Birth
        <input type="date" name="dob" />
      </label>
      <input type="submit" value="Add User" />

    </form>


  </body>
</html>
